body{
    display: flex;
	margin: 0;
    padding: 0;
    background-color: aquamarine;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.orange{
    width: 30%;
    background-color: orange;
    height: 50%;
}
.other{
    height: 50%;
    width: 50%;
}
.pink{
    background-color: orchid;
    width: 100%;
    height: 20%;
}
.aqua{
    background-color:green;
    width: 100%;
    height: 20%;
}
.other2{
    width: 100%;
    height: 60%;
    display: flex;
}
.blue{
    background-color: blue;
    width: 50%;
    height: 100%;
}
.yellow{
    background-color: yellow;
    width: 50%;
    height: 100%;
}