body{
    display: flex;
    flex-direction: column;
	margin: 0;
    padding: 0;
    background-color: aquamarine;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.pink{
    background-color: orchid;
    width: 80%;
    height: 7%;
}
.aqua{
    background-color: black;
    width: 80%;
    height: 7%;
}
.other{
    background-color: white;
    width: 80%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nogoon{
    background-color: green;

    width: 45%;
    height: 30%;
}